// FOOTER SECTION

.footer-section {
  background-color: #002529;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}


.footer__menu {
  margin-right: 125px;
}

.footer__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.footer__item~.footer__item {
  margin-left: 40px;
}

.footer__item {
  padding: 3px;
  border-radius: 2px;
  margin-top: 25px;
  transition: all 0.3s ease;
}

.footer__item-link {
  @include item-unstyled
}

.footer__item-link:hover {
  color: #F67E7E;
}

.footer__item:active {
  background-color: #fff;
}

.media__list-temp {
  @include list-unstyled;
  display: flex;
  align-items: center;
  margin-top: 33px;
  display: none;
}

.footer__address {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
  margin: 0;
}

.footer__address--responsive {
  display: none;
}

.media__wrapper {
  margin-left: auto;
}

.media__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
  margin-left: 150px;

}

.media__item~.media__item {
  margin-left: 16px;
}

.media__icon:hover path {
  fill: #f67e7e;
  transition: all 0.3s ease;
}


.media__text {
  width: 255px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin: 0;
  margin-top: 51px;
}


// RESPOMSIVE

@include breakpoint-down (768px) {

  .footer__logo {
    width: 95px;
    height: 24px;
  }

  .media__list-temp {
    display: block;
    display: flex;
    align-items: center;
  }

  .media__list {
    display: none;
  }

  .footer__address {
    display: none;
  }

  .footer__address--responsive {
    display: block;
    text-align: right;
  }

  .media__text {
    margin-top: 33px;
  }
}

@include breakpoint-down (750px) {
  .footer__menu {
    margin-right: 50px;
  }
}

@include breakpoint-down (450px) {

  .footer__wrapper {
    flex-direction: column;
    padding-top: 50px;
  }

  .footer__menu {
    margin-right: 0;
  }

  .footer__logo {
    margin-left: 25px;
  }

  .footer__list {
   
  }

  .footer__address {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    text-align: center;
  }

  .footer__address--responsive {
    display: none;
    text-align: right;
  }

  .media__list-temp {
    display: none;
  }

  .media__wrapper {
    width: 100%;
  }

  .media__list {
    display: block;
    width: 108px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

 .media__text {
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 16px;
 }

}